<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head}"></head>
<body>
<header th:replace="~{layout/layout :: header}"></header>
<div class="container py-4">
    <div class="card bg-danger text-white mx-auto">
        <div class="card-header fw-bold">Error: Acceso Denegado!</div>
        <div class="card-body">
            <h5 class="card-title">
                Lo sentimos <span th:text="${#authentication?.name}"></span>, No tienes permisos para acceder a
                este recurso
            </h5>
            <a class="btn btn-outline-light btn-xs mb-4 mt-5" role="button" th:href="@{/}">
                <i class="bi bi-arrow-left me-2"></i> Ir al inicio
            </a>
        </div>
    </div>
</div>
<div class="mt-5">
    <footer th:replace="~{layout/layout :: footer}"></footer>
</div>
</body>
</html>