<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head}"></head>
<body>
<header th:replace="~{layout/layout :: header}"></header>
<h1 class="text-primary text-center pt-5" th:text="${titulo}"></h1>
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 pt-5">
                <form th:action="@{/login}" method="post">
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="lead fw-normal mb-0 me-3" th:text="#{text.login.titulo}"></p>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4 mt-3">
                        <input type="text" id="username" name="username" class="form-control form-control-lg"
                               th:placeholder="#{text.login.username}" autofocus required/>
                        <label class="form-label" for="username">Username</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input type="password" id="password" name="password" class="form-control form-control-lg"
                               th:placeholder="#{text.login.password}" required/>
                        <label class="form-label" for="password">Password</label>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;" th:text="#{text.login.boton}">Login
                        </button>
                        <div class="row">
                            <p class="small fw-bold mt-2 pt-1 mb-0 col-4" th:text="#{text.login.register}">Don't have an
                                account?
                            </p><a href="#"
                                   class="link-danger col-3 fw-bold mt-1 pt-1 mb-0" th:text="#{text.login.crear}">Register</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
<div class="mt-5">
    <footer th:replace="~{layout/layout :: footer}"></footer>
</div>
</body>
</html>